fastapi==0.61.1
gunicorn==20.0.4
psycopg2==2.8.5
pydantic==1.6.1
requests==2.24.0
SQLAlchemy==1.3.19
starlette==0.13.6
uvicorn==0.11.8
astroid==2.3.3
Click==7.0
colorama==0.4.3
h11==0.9.0
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
pylint==2.4.4
six==1.14.0
websockets==8.1
wrapt==1.11.2
